body {
  background-color: #131315;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loginContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lyrics-logo {
  width: 180px;
  height: 50px;
}

#WAY {
  color: #f8fd03;
}

.form {
  display: flex;
  flex-direction: row;

}

.col-md-3 {
  margin-top: 30px;
}

.loginbtn {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #23D956;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}