 @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;700&display=swap');


:root{ 
    --font-primary:'Montserrat', sans-serif;
    --font-secunday:'Inria Sans', sans-serif;
    --green:#dbfc6c;
    --lila:#978DAE;
    --body-color:#F5EFF6;
    --blue-primary: #312C8E;
    --blue-secundary: #4C50CF;
    
}
// // fonts
// $font-primary:'Montserrat', sans-serif;
// $font-secunday:'Inria Sans', sans-serif;
// //colors
// $blue-primary:#312C8E;
// $blue:#4C50CF;