html,
body,
#root {
    padding: 0;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Inknut Antiqua', serif;
}

body {
    margin: 10px;
}

.container {
    height: 670px;
}

.navigation {
    background-color: #D9D9D9;
    height: 100%;
    width: 80px;
    border-radius: 37px;
    display: flex;
    position: relative;
    /* padding: 0; */
}

.navigation__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar,
.orders,
.menu,
.employees {
    width: 50px;
    align-self: center;
}

.navigation__list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.cards {
    width: 90%;
    height: 100%;
    background-color: #232324;
}

.admiContainer {
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin-top: 10px;

}

.link {
    color: inherit;
    text-decoration: none
}

.iconsOrdersx {
    width: 40px;
}

.iconsOrders,
.lunch,
.breakFast,
.botonsFilter {
    margin: 10px;
}

#iconsOrdersx {
    margin: 0px 50px 0px 50px;
}

.bar {
    height: 490px;
    width: 100%;
    overflow: auto;
}

.grid-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #e2d7d7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 25px;
    height: 150px;
    width: 160px;
}

.card-tittle {
    color: #EA11FC;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Inknut Antiqua', serif;
    margin-top: 0px;
}

.card-Body {
    display: flex;
    justify-content: space-around;
}

.img-card {
    width: 50px;
}

.trash,
.edit,
.exitIcon,
.add {
    width: 20px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    /* background: #ffffff; */
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    /* Agrega un borde redondeado a la barra de scroll */
}

.buttonsProducts {
    display: flex;
    justify-content: space-evenly;
}

.rowFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.addProduct {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px;
    align-items: center;
}

.add {
    width: 50px;
    height: 50px;
}

.textButtonAdd {
    color: #e2d7d7;
}

.breakFast,
.lunch {
    border-radius: 20px;
    border: none;
    font-size: medium;
    font-family: 'Inknut Antiqua', serif;
    color: #D9D9D9;
    cursor: pointer;
}

.breakFast {
    background-color: #CB44CE;

}

.lunch {
    background-color: #44BDCD;
}

.price {
    font-family: 'Inknut Antiqua', serif;
    font-size: small;
    margin: 0px 0px;

}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 40px; */
}

.headOfModal {
    width: 500px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bodyOfModal {
    width: 500px;
    min-height: 100px;
    background: #ff1414;
    position: relative;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(100, 100, 111, 0.2);
    padding: 20px;
}

.messageError {
    color: #232324;
    margin-top: -7px;
    font-size: small;
    /* margin-left: 30%; */
}

.buttonAddModal {
    font-size:medium;
    border-radius: 5px;
    background-color: #F8FD03;
    border: none;
    width: 300px;
    font-family: 'Inknut Antiqua', serif;
}

.formAddProduct {
    display: flex;
    flex-direction: column;

}

.inputModalProduct, .buttonsOfCategory {
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding: 10px;
}

#inputImage {
    border: none;
    background-color: #ffffff;
    color: #232324;
}

.buttonsOfCategory, .buttonAddModal {
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
    padding: 3px;
}

#Desayuno {
    background-color: #EA11FC;
}

#Almuerzo {
    background-color: #44BDCD;
}