html,
body,
#root {
    padding: 0;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 10px;
}

.container {
    height: 670px;
}

.navigation {
    background-color: #D9D9D9;
    height: 100%;
    width: 80px;
    border-radius: 37px;
    display: flex;
    position: relative;
    /* padding: 0; */
}

.navigation__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar,
.orders,
.menu,
.employees {
    width: 50px;
    align-self: center;
}

.navigation__list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.cards {
    width: 90%;
    height: 100%;
    background-color: #232324;
}

.admiContainer {
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin-top: 10px;

}

.link {
    color: inherit;
    text-decoration: none
}

.iconsOrdersx {
    width: 40px;
}

.iconsOrders {
    margin: 10px;
}

#iconsOrdersx {
    margin: 0px 50px 0px 50px;
}

.bar {
    height: 490px;
    width: 100%;
    overflow: auto;
}

.grid-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.row {
    background-color: #e2d7d7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 25px;
}

.card-tittle {
    color: #EA11FC;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Inknut Antiqua', serif;
}

.card-Body {
    display: flex;
    justify-content: space-around;
}

.img-card {
    width: 50px;
}

.trash,
.edit {
    width: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* ::-webkit-scrollbar-track {
    background: #ffffff;
} */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px; /* Agrega un borde redondeado a la barra de scroll */
}