* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */
/* body{
  background: linear-gradient(180deg, #ebdd76 0%, #8F9CA3 100%);
} */

.take-order-page{
  background:  #efe389;
  width: auto;
  height: 1024px;  
}

.tomar-orden-h2{
width: 100%;
height: 50px;
background-color:#318aac ;
display: flex;
justify-content: center;
align-items: center;

}


h2 {
  /* margin-left: 45%; */
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  text-align: center;
  color:white;
  font-size: 35px;
}

.log-out{
position: relative;
left: 30%}

.flow-icon {
  color: white;

}

table {
  margin-left: 150px;
  margin-top: 50px;
}

.botones-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 25px; */
  /* border: 1px solid blue; */
  /* flex-direction: row; */
  /* width: 200px;
  margin-left: 300px; */
  margin-left: 150px;
  margin-top: 20px;
}

button {
  cursor: pointer;
  color: #318aac !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
  height: 30px;


}
button:hover {
  background: #318aac;
  color: #fff !important;
}

/* button:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
  } */



.checkbox-container{
  width: 30px;
  position: relative;
  margin-right: 200px;
}
.checkbox{
    width: 20px;
    margin-top: -10px;
    margin-left: 12px;
}
h4{
margin-top:-32px;
margin-left: 35px;
font-size: 20px;
color:#318aac
}


/*toma de orden*/
.nombre-cliente{
  margin: 2px 10px 2px 10px;
  font-size: 0.8rem;
  border: black solid 1px;
  margin-left: 40%;
  margin-top: 20px;
  width: 150px;
}

td{
  cursor: pointer;
}
